@media (max-width: 768px) {
  .chart-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }

  table,
  th,
  td {
    font-size: 14px;
    word-wrap: break-word;
  }

  .verse-table-container {
    overflow-x: auto;
  }

  button {
    display: block;
    margin: 10px auto;
  }

  h1,
  h3,
  h4 {
    text-align: center;
    padding: 0 10px;
  }
}
